<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMD</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #50a266;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .login-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
            max-width: 100%;
        }
        
        .login-container h1 {
            margin-bottom: 20px;
            color: #000000;
        }
        
        .login-container form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .login-container form input[type="text"],
        .login-container form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-radius: 4px;
            font-size: 16px;
        }
        
        .login-container form button {
            padding: 10px 20px;
            background-color: #50a266;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        
        .login-container form button:hover {
            background-color: #1a5bbd;
        }
        body {
        font-family: Arial, sans-serif;
            background-color: #50a266;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .tasks-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
            max-width: 100%;
        }

        .tasks-container h1 {
            margin-bottom: 20px;
            color: #333;
        }

        .tasks-container ul {
            list-style-type: none;
            padding: 0;
            text-align: left;
        }

        .tasks-container ul li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .tasks-container ul li a {
            color: #f10000;
            text-decoration: none;
            cursor: pointer;
        }

        .tasks-container form {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tasks-container form input[type="text"] {
            width: 200px;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        .tasks-container form button {
            padding: 10px 20px;
            background-color: #50a266;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .tasks-container form button:hover {
            background-color: #1a5bbd;
        }

    </style>
</head>
<body>
    <%- body %>
</body>
</html>